.profilePanel {
	margin: 10px;
}
.profileImage {
	height: 150px;
	position: absolute;
	z-index: 99;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.container {
	position: relative;
	height: 30vh;
	min-height: 200px;
	width: 90% !important;
}
.profileImageSelection {
	color: #000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	text-decoration: underline;
	height: 100%;
	width: 100%;
}
.editProfile {
	text-align: center;
	display: block;
	margin: 10px;
	text-decoration: underline;
}
.center {
	text-align: center;
}
